n8n/photo-delivery-workflow-adapted.json
{
  "name": "Photo Delivery Bot — Site Webhook -> GitHub -> Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "photo-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook — Receive Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 260],
      "webhookId": "photo-order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] || $json.headers['X-Webhook-Secret'] || '' }}",
              "rightValue": "whsec_83a2c18c7719671edb0cd08b2dfba88f8200d8683c76509f",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002",
      "name": "IF — Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [240, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-order-id",
              "leftValue": "={{ String(!!$json.body.order_id) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-chat-id",
              "leftValue": "={{ String(!!$json.body.telegram_chat_id) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-photo-ids",
              "leftValue": "={{ String(Array.isArray($json.body.photo_ids) && $json.body.photo_ids.length > 0) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000012",
      "name": "IF — Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\",\"message\":\"Unauthorized\"}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000003",
      "name": "Respond 403 — Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\",\"message\":\"Invalid payload. Required: order_id, telegram_chat_id, photo_ids[]\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000013",
      "name": "Respond 400 — Invalid Payload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\",\"message\":\"Order accepted\",\"order_id\":\"{{ $('Webhook — Receive Order').item.json.body.order_id }}\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000004",
      "name": "Respond 200 — OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook — Receive Order').first().json.body || {};\n\nconst chatId = String(body.telegram_chat_id ?? '').trim();\nconst usernameRaw = String(body.telegram_username ?? '').trim();\nconst username = usernameRaw.replace(/^@/, '') || null;\nconst photoIds = Array.isArray(body.photo_ids) ? body.photo_ids : [];\nconst orderId = body.order_id || `order_${Date.now()}`;\nconst githubOwner = body.github_owner || 'deruginalex0-netizen';\nconst githubRepo = body.github_repo || 'pashka_spit';\n\nfunction normalizePhotoId(input) {\n  const cleaned = String(input || '').trim().replace(/^\\/+/, '').replace(/\\.jpg$/i, '');\n  if (!cleaned) return '';\n  const decoded = decodeURIComponent(cleaned);\n  return decoded\n    .split('/')\n    .filter(Boolean)\n    .map((segment) => encodeURIComponent(segment))\n    .join('/');\n}\n\nconst items = photoIds\n  .map(normalizePhotoId)\n  .filter(Boolean)\n  .map((photoId, index) => ({\n    json: {\n      chat_id: chatId,\n      username,\n      order_id: orderId,\n      photo_id: photoId,\n      index: index + 1,\n      github_owner: githubOwner,\n      github_repo: githubRepo,\n      download_url: `https://raw.githubusercontent.com/${githubOwner}/${githubRepo}/main/photos/${photoId}.jpg`\n    }\n  }));\n\nreturn items;"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000005",
      "name": "Code — Split Photos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 100]
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "photo"
            }
          }
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000006",
      "name": "HTTP Request — Download Photo from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 100]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chat_id }}",
        "binaryPropertyName": "photo",
        "additionalFields": {
          "caption": "=📸 Заказ #{{ $json.order_id }} — фото {{ decodeURIComponent($json.photo_id) }}"
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000007",
      "name": "Telegram — Send Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1510, 100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "if (!items.length) return [];\nconst first = items[0].json;\nreturn [{\n  json: {\n    chat_id: first.chat_id,\n    order_id: first.order_id,\n    total_photos: items.length\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000014",
      "name": "Code — Build Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 100]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "=✅ Заказ #{{ $json.order_id }} доставлен!\\n\\nВсего фото: {{ $json.total_photos }}\\n\\nСпасибо за покупку!",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000008",
      "name": "Telegram — Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1960, 100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=Photo delivery failed for order {{ $json.order_id }}: {{ $json.message }}"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000009",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1520, 340]
    }
  ],
  "connections": {
    "Webhook — Receive Order": {
      "main": [
        [
          {
            "node": "IF — Verify Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Verify Secret": {
      "main": [
        [
          {
            "node": "IF — Validate Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403 — Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Validate Payload": {
      "main": [
        [
          {
            "node": "Respond 200 — OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400 — Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 — OK": {
      "main": [
        [
          {
            "node": "Code — Split Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Split Photos": {
      "main": [
        [
          {
            "node": "HTTP Request — Download Photo from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Download Photo from GitHub": {
      "main": [
        [
          {
            "node": "Telegram — Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Send Photo": {
      "main": [
        [
          {
            "node": "Code — Build Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Build Confirmation": {
      "main": [
        [
          {
            "node": "Telegram — Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
